@import "../../app";
.videoData {
  &__top {
    span {
      cursor: pointer;
    }
    .likeIcons {
      margin-right: 1.2rem;
    }
  }

  &__channel {
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem;

    img {
      width: 50px;
      height: 50px;
    }
    .subscribes {
      display: flex;
      margin-left: 0.5rem;
      flex-direction: column;
      font-weight: bold;
    }

    button {
      color: #fff;
      border-radius: 0;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 600;
      &.btn-gray {
        background-color: gray;
      }
      &.btn-red {
        background-color: red;
      }
      &:hover {
        color: #fff;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  &__description {
    font-size: 0.9rem;
    white-space: pre-line;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);

    h4 {
      cursor: pointer;
      color: blue;
      font-weight: 600;
      text-decoration: none;
      font-size: 0.9rem;
    }
  }
}
