@import "../../app";
.watchScreen{
   padding:1rem 1.5rem;
   &__left{
      margin-top: 0.15rem;
     
   }
  &__player {
   height: 75vh;
   background-color: #353946;
   width: 100%;
   margin-bottom: 0.5rem;

}

}


