@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$text-color: #b1bdb4;
$white:#ffff;
$black-primary: #16181b;
$black: rgba(0, 0, 0, 0.700);
$black-secondary: #080808e3;
$border-color: #4c4c4c;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background:$black-secondary;
   background-attachment: fixed;
   color: $text-color;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.1px;
}

.app{
   background:$black-secondary;
   
}
@mixin line-clamp($number) {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: $number;
   -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
   width: 0px;
}
// .app__container {
//     display: flex;
//     height: 100vh;
//   margin:0;
//     color:$white;
//  }
 .app__main {
    overflow-y: scroll;
    
    color:$white;
 }
 