@import '../../style/base.scss';

.iconBar{
   position: sticky;

   display: flex;
   flex-direction: column;
   width: 70px;
   padding-top: 1rem;
   .iconList {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0.6rem 0.5rem;
     
      cursor: pointer;

      h3 {
       text-align: center;
         font-size: 10px;
         font-weight: 400;

      }

      &:hover {
         background-color: $border-color;
      }
   }
    hr {
       background-color: $border-color;
    }

  
 }

 @media (max-width: $breakpoint-medium) {
    .sideIcon {
       width: 90px;
   
       li {
          justify-content: center;
       }
      
    }
 }

