@import '../../style/base.scss';

.iconBar{
   display: flex;
   flex-direction: column;
   width: 70px;
 //  height: 40vh;
   padding-top: 2rem;
   transition: transform 0.2s ease-in;
   .iconList {
      display: flex;
      flex-direction: column;
      align-items: center;
list-style: none;
      padding: 0.6rem 0.5rem;
     
      cursor: pointer;

      h3 {
       text-align: center;
         font-size: 10px;
         font-weight: 400;
         //letter-spacing: 0.4px;
      }

      &:hover {
         background-color: $border-color;
      }
   }
    hr {
       background-color: $border-color;
    }

  
 }

 @media (max-width: $breakpoint-medium) {
    .sideIcon {
       width: 90px;
       li {
          justify-content: center;
       }
       span {
          display: none;
       }
    }
 }
 @media (max-width: $breakpoint-small) {
    .sideIcon {
       transform: translateX(-100%);

       position: fixed;
       z-index: 999;
    }
  }
