@import '../../style/base.scss';


.categories {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: scroll;
 
    &::-webkit-scrollbar {
       width: 0px;
    }
    scrollbar-width: none;
 
    span {
       margin-right: 1rem;
       padding: 0.5rem 1rem;
       font-weight: 500;
       white-space: nowrap;
       border: 1.5px solid $text-color;
       transition: all 0.3s;
       border-radius: 999px;
       cursor: pointer;
       background-color: #5555555d;
 
       &:hover {
          background-color: #555555dc;
       }
 
       &.active {
          color: #fff;
          background-color: #817f7f;
          border-color: $border-color;
       }
    }
 }